{% extends "base.html" %}
{% load staticfiles %}
            
			
{% block content %}

<div class="header">
    <div class="jumbotron">
        <h1>MUSICUS</h1>
        <p>Heyooo</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>

<div class="wrapper">
    <div class=" row">
        {% for instrument in instruments %}
        <div class="col-md-4">
            <div class="thumbnail">
                <p>
                    <a href="/{{instrument.id}}/">
                        <img src="{{ instrument.image.url }}" alt="{{instrument.name}}">
                    </a>
                </p>
                <div class="caption">
                    <h3>{{instrument.name}}</h3>
                    <p><a href="/{{instrument.id}}/" class="btn btn-primary" role="button">Details</a>
                        <a href="/user/{{instrument.user.username}}" class="btn btn-default" role="button">by {{instrument.user.username}}</a>
                        <button id="likes" data-id="{{instrument.id}}" class="btn btn-primary btn-round" type="button">
                            <i class="material-icons">favorite</i> 
                            {% if instrument.likes > 0 %} 
                            {{instrument.likes}} 
                            {% endif %}
                        </button>
                    </p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <br>
    <div class="row">
        {% endif %} {% endfor %}
    </div>



    <div class="panel-body">
        <form enctype="multipart/form-data" action="post_url/" method="post"> 
        <!-- enctype is needed when uploading files to server -->
        {% csrf_token %} 
        {{form.as_p}}
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>

            {% endblock content %}
